* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

.container {
  padding: 30px 90px;
}
.banner {
  background-image: linear-gradient(
      0deg,
      rgba(5, 0, 36, 0.423) 0%,
      rgba(0, 0, 0, 0.742734593837535) 100%
    ),
    url(img/Banner\ Image.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.title {
  color: white;
  text-align: center;
  padding: 185px 287px;
}
.title h1 {
  font-size: 50px;
  margin-top: 10px;
}
.title h3 {
  font-weight: 300;
}

/* ===========off area============= */
.off-area {
  text-align: center;
  margin: 50px 0;
}
.color {
  color: #ff0000;
}
.off-area h3 {
  font-size: 50px;
  margin: 20px 0;
}
.off-area h2 {
  margin: 10px 0;
}
.off-area img {
  width: 60%;
}

/* ==========party-area=========== */
.party-area {
  margin: 30px 0;
}
.party-content {
  background-image: linear-gradient(
      0deg,
      rgba(5, 0, 36, 0.423) 0%,
      rgba(0, 0, 0, 0.742734593837535) 100%
    ),
    url(img/Vectorrr.png);
  background-size: cover;
  padding: 90px;
  border-radius: 8px;
}
.party-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.left-text {
  width: 40%;
}
.left-text h2 {
  font-size: 50px;
  margin-bottom: 20px;
}
.left-text p {
  font-size: 14px;
  font-weight: 100;
}
.party-text img {
  width: 200px;
}
.btn {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 30px;
  background-color: #ff0000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
/* ==========coming-soon========== */
.coming-soon {
  margin: 80px 0;
}
.coming-area {
  display: flex;
  justify-content: space-between;
}
.coming-area > div {
  width: 30%;
}
.text-left h3,
.text-right h2 {
  margin: 20px 0;
}
.img-middle img {
  width: 290px;
  border: 8px solid #ff0000;
  padding: 20px;
  border-radius: 50%;
}
/* =============portfolio-area============= */
.portfolio-area h2 {
  margin: 10px 0;
}
.port-text {
  width: 60%;
  margin-bottom: 20px;
}
.img-area > div > img {
  width: 340px;
  margin: 10px;
  transition: 0.3s;
}
.img-area > div > img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* ===========news-latter============ */
.news-latter {
  background-color: #fff2f2;
  padding: 50px 190px;
  text-align: center;
  margin: 50px 0;
  border-radius: 8px;
}
.news-latter img {
  width: 70px;
}
.news-latter h2,
p {
  margin: 20px 0;
}
.news-latter form input {
  width: 400px;
  padding: 15px 20px;
  border-radius: 50px 0px 0px 40px;
  border: none;
}
.btn-2 {
  display: inline-block;
  margin-left: -10px;
  padding: 11px 30px;
  background-color: #ff0000;
  color: white;
  text-decoration: none;
  border-radius: 0px 50px 50px 0px;
}
